/*
 * Copyright 2014-2015 Piotr Dzwiniel
 *
 * This file is part of Specvis.
 *
 * Specvis is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Specvis is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Specvis; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 */

.default-color0.chart-series-line { -fx-stroke: #0088FF; }
.default-color1.chart-series-line { -fx-stroke: transparent; }

.default-color0.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}
.default-color1.chart-line-symbol {
    -fx-background-color: black, white;
}

.default-color0.chart-legend-item-symbol{
    -fx-background-color: #0088FF;
 }
.default-color1.chart-legend-item-symbol{
    -fx-background-color: black;
 }